<div class="container">
    <div class="box">
        <div class="message">아래 토큰을 입력해주세요.</div>
        <div class="token">{{ token }}</div>
    </div>
</div>

<style>
    .container {
        width: 100%;
        heigth: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .token {
        background-color: #3ac2d2;
        color: #dbdbdb;
    }
</style>